{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if Title %}
        <title>ALPACA - {{ Title }}</title>
    {% else %}
        <title>ALPACA</title>
    {% endif %}
    
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/d3@7.0.0/dist/d3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.4.3/math.js"></script>
    {% comment %} 
        <script src="https://unpkg.com/react@16.9.0/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16.9.0/umd/react-dom.production.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
</head>
<body>
    <!-- Nav Bar -->
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-lg py-1 fixed-top">
        <img id="alpaca-icon" src="{% static "images/favicon.png" %}" class="img-fluid">
        <a class="navbar-brand" href="{% url 'frontend-index' %}">{{ Home }}</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'frontend-about' %}">{{About}}</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-analysis' %}">{{SubPage}}</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <header class="site-header"></header>
    
    {% block content %}{% endblock %}


    <!-- Bootstrap Bundle: Jquery and Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
